version: '3.6'
services:
  server:
    container_name: server_crate
    image: whsv26/crate:latest
    ports:
      - 8181:80

  postgres:
    container_name: postgres_crate
    image: postgres:13-alpine
    volumes:
      - volume_postgres:/var/lib/postgresql/data
    ports:
      - 54325:5432
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: crate
    # Вывод текущих sql запросов в stdout
    command: postgres -c log_statement=all

  flyway:
    container_name: flyway_crate
    image: flyway/flyway:7.10.0
    entrypoint: flyway -user=docker -password=docker -url=jdbc:postgresql://postgres:5432/crate
    command: migrate
    depends_on:
      - postgres
    volumes:
      - ./src/main/resources/migrations:/flyway/sql
volumes:
  volume_postgres:
