api {
    access-key=""
}
db {
    host = "localhost"
    port = 54325
    user = "docker"
    password = "docker"
    database = "crate"
}
currency-layer {
    uri = "https://apilayer.net"
    token = ""
}