api {
    access-key = ""
}
server {
    host = "localhost"
    port = 8080
}
db {
    host = "localhost"
    port = 54325
    user = "docker"
    password = "docker"
    database = "crate"
}
currency-layer {
    uri = "http://api.currencylayer.com"
    token = ""
}