api {
    access-key = ""
}
server {
    host = "0.0.0.0"
    port = 80
}
db {
    host = "postgres"
    port = 5432
    user = "docker"
    password = "docker"
    database = "crate"
}
currency-layer {
    uri = "http://api.currencylayer.com"
    token = ""
}